<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Prime Number Calculator</title>
    <link rel="stylesheet" type="text/css" href="public/site.css">
</head>
<body>
    {{{body}}}
    <script src="/public/form.js"></script>
</body>
</html>