<h1>Prime Number Calculator</h1>
<main>
    <form id="prime" name="prime">
        
        <label for="number">Input</label>
        <input type="number" name="number" id="number">
        <button type="submit">See Result</button>
    </form>
    <div class="error" id="error">
    </div>
    <ol id="attempts"></ol> 
</main>
<footer>
    <p>CS_546_Lab_9</p>
    <p class = 'shalin' id='shalin'>Shalin Barot  CWID:10437737</p>
    <p class = 'pro' id='pro'>Hello People please enter some number to check whether it's prime or not!</p>
</footer>
